[user]
    name = "Roey Darwish Dror"
    email = "roey.ghost@gmail.com"

[core]
    sparseCheckout = true
    untrackedCache = true
    excludesfile = ~/.gitignore
    pager = delta
{{- if eq .chezmoi.os "windows" }}
    sshCommand = C:\\Windows\\System32\\OpenSSH\\ssh.exe
{{- end }}

[diff]
    tool = difftastic
    colorMoved = default

[difftool]
    prompt = false

[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"

[pager]
    difftool = true

[commit]
    verbose = true

[fetch]
    prune = true

[pull]
    rebase = true

[rebase]
    autoStash = true

[push]
    default = current
    followTags = true
    autoSetupRemote = true

[interactive]
    diffFilter = delta --color-only

[merge]
    conflictstyle = zdiff3

[delta]
    tabs = 4
    light = false
    dark = true
    syntax-theme = ansi
    minus-style                   = syntax "#3a273a"
    minus-non-emph-style          = syntax "#3a273a"
    minus-emph-style              = syntax "#6b2e43"
    minus-empty-line-marker-style = syntax "#3a273a"
    line-numbers-minus-style      = "#e26a75"
    plus-style                    = syntax "#273849"
    plus-non-emph-style           = syntax "#273849"
    plus-emph-style               = syntax "#305f6f"
    plus-empty-line-marker-style  = syntax "#273849"
    line-numbers-plus-style       = "#b8db87"
    line-numbers-zero-style       = "#3b4261"
